<!DOCTYPE html>
<html lang="en">
<title>Frontline workers</title>
  <head>
    <title>HomePage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        * {box-sizing: border-box}
        body {font-family: Verdana, sans-serif; margin-top:90px}

        /* Slideshow container */
        .slideshow-container {
        position: relative;
        width:50%;
        background:transparent;
        }

        /* Slides */
        .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
        }

        /* Next & previous buttons */
        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 30px 30px 0;
        user-select: none;
        }

        /* Position the "next button" to the right */
        .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
        }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
        
        color:black;
        }

        /* The dot/bullet/indicator container */
        .dot-container {
            text-align: center;
            padding: 20px;
            background: transparent;
        }

        /* The dots/bullets/indicators */
        .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color:black;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        }

        /* Add a background color to the active dot/circle */
        .active, .dot:hover {
        background-color: white;
        }

        /* Add an italic font style to all quotes */
        q {font-style: italic;}

        /* Add a blue color to the author */
        .author {color: cornflowerblue;}

        *{
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size:20px;
            color:black;
        }

        .qns{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size:25px;
            color:black;
            margin-top:0px;

        }

        .img{
        float:right;
        height:400px;
        }


    </style>
  </head>
  <body style="background-color:rgb(218, 214, 214)">
    <img src="https://i0.wp.com/blog.well-nest.ca/wp-content/uploads/2020/07/blog-post_-toxic-positivity.png?resize=1080%2C608&ssl=1" class="img">
    <div class="slideshow-container">
      <form action="{{ url_for('Frontline_workers') }}" method="POST">
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Been upset because of something that happened unexpectedly?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio" name="example1" value="Never">
                <label class="custom-control-label" for="customRadio">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio1" name="example1" value="Sometimes">
                <label class="custom-control-label" for="customRadio1">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio2" name="example1" value="Fairly Often">
                <label class="custom-control-label" for="customRadio2">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio3" name="example1" value="Very Often">
                <label class="custom-control-label" for="customRadio3">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Felt confident about your ability to handle your personal problems?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio4" name="example2" value="Never">
                <label class="custom-control-label" for="customRadio4">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio5" name="example2" value="Sometimes">
                <label class="custom-control-label" for="customRadio5">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio6" name="example2" value="Fairly Often">
                <label class="custom-control-label" for="customRadio6">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio7" name="example2" value="Very Often">
                <label class="custom-control-label" for="customRadio7">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Found that you could NOT cope with all the things you had to do?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio8" name="example3" value="Never">
                <label class="custom-control-label" for="customRadio8">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio9" name="example3" value="Sometimes">
                <label class="custom-control-label" for="customRadio9">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio10" name="example3" value="Fairly Often">
                <label class="custom-control-label" for="customRadio10">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio11" name="example3" value="Very Often">
                <label class="custom-control-label" for="customRadio11">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Do you get upset when others disagree with you?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio12" name="example4" value="Never">
                <label class="custom-control-label" for="customRadio12">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio13" name="example4" value="Sometimes">
                <label class="custom-control-label" for="customRadio13">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio14" name="example4" value="Fairly Often">
                <label class="custom-control-label" for="customRadio14">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio15" name="example4" value="Very Often">
                <label class="custom-control-label" for="customRadio15">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Do you tend to feel very guilty or bad after getting angry?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio16" name="example5" value="Never">
                <label class="custom-control-label" for="customRadio16">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio17" name="example5" value="Sometimes">
                <label class="custom-control-label" for="customRadio17">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio18" name="example5" value="Fairly Often">
                <label class="custom-control-label" for="customRadio18">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio19" name="example5" value="Very Often">
                <label class="custom-control-label" for="customRadio19">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Felt difficulties were piling up so high that you could not overcome them?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio20" name="example6" value="Never">
                <label class="custom-control-label" for="customRadio20">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio21" name="example6" value="Sometimes">
                <label class="custom-control-label" for="customRadio21">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio22" name="example6" value="Fairly Often">
                <label class="custom-control-label" for="customRadio22">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio23" name="example6" value="Very Often">
                <label class="custom-control-label" for="customRadio23">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">When you become angry, do you withdraw from people?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio24" name="example7" value="Never">
                <label class="custom-control-label" for="customRadio24">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio25" name="example7" value="Sometimes">
                <label class="custom-control-label" for="customRadio25">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio26" name="example7" value="Fairly Often">
                <label class="custom-control-label" for="customRadio26">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio29" name="example7" value="Very Often">
                <label class="custom-control-label" for="customRadio29">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Trouble falling or staying asleep, or sleeping too much ?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio30" name="example8" value="Never">
                <label class="custom-control-label" for="customRadio30">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio31" name="example8" value="Sometimes">
                <label class="custom-control-label" for="customRadio31">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio32" name="example8" value="Fairly Often">
                <label class="custom-control-label" for="customRadio32">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio33" name="example8" value="Very Often">
                <label class="custom-control-label" for="customRadio33">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Been angered because of things that happened that were out of your control?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio34" name="example9" value="">
                <label class="custom-control-label" for="customRadio34">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio35" name="example9">
                <label class="custom-control-label" for="customRadio35">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio36" name="example9">
                <label class="custom-control-label" for="customRadio36">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio37" name="example9">
                <label class="custom-control-label" for="customRadio37">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Have you started to do something because of each other’s influence?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio38" name="example1">
                <label class="custom-control-label" for="customRadio38">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio39" name="example1">
                <label class="custom-control-label" for="customRadio39">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio40" name="example1">
                <label class="custom-control-label" for="customRadio40">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio41" name="example1">
                <label class="custom-control-label" for="customRadio41">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Do you have frequent unwanted thoughts that seem uncontrollable?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio42" name="example1">
                <label class="custom-control-label" for="customRadio42">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio43" name="example1">
                <label class="custom-control-label" for="customRadio43">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio44" name="example1">
                <label class="custom-control-label" for="customRadio44">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio45" name="example1">
                <label class="custom-control-label" for="customRadio45">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Do you keep checking things over and over again?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio46" name="example1">
                <label class="custom-control-label" for="customRadio46">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio47" name="example1">
                <label class="custom-control-label" for="customRadio47">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio48" name="example1">
                <label class="custom-control-label" for="customRadio48">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio49" name="example1">
                <label class="custom-control-label" for="customRadio49">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Feeling bad about yourself often</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio50" name="example1">
                <label class="custom-control-label" for="customRadio50">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio51" name="example1">
                <label class="custom-control-label" for="customRadio51">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio52" name="example1">
                <label class="custom-control-label" for="customRadio52">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio53" name="example1">
                <label class="custom-control-label" for="customRadio53">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Have you ever been uncontrollable sometimes?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio54" name="example1">
                <label class="custom-control-label" for="customRadio54">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio55" name="example1">
                <label class="custom-control-label" for="customRadio55">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio56" name="example1">
                <label class="custom-control-label" for="customRadio56">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio57" name="example1">
                <label class="custom-control-label" for="customRadio57">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Little interest or pleasure in doing things?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio58" name="example1">
                <label class="custom-control-label" for="customRadio58">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio59" name="example1">
                <label class="custom-control-label" for="customRadio59">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio60" name="example1">
                <label class="custom-control-label" for="customRadio60">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio61" name="example1">
                <label class="custom-control-label" for="customRadio61">Very Often</label>
              </span>
            </div>  
          </div>
        </div>
        <div class="mySlides">
          <div class="custom-control custom-radio" style="text-align:left">
            <p class="qns">Trouble falling or staying asleep, or sleeping too much?</p>
            <div class="custom-control custom-radio" >
              <span>
                <input type="radio" class="custom-control-input" id="customRadio62" name="example1">
                <label class="custom-control-label" for="customRadio62">   Never   </label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio63" name="example1">
                <label class="custom-control-label" for="customRadio63">Sometimes</label>
              </span>
            </div>    
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio64" name="example1">
                <label class="custom-control-label" for="customRadio64">Fairly Often</label>
              </span>
            </div>  
            <div class="custom-control custom-radio">
              <span>
                <input type="radio" class="custom-control-input" id="customRadio65" name="example1">
                <label class="custom-control-label" for="customRadio65">Very Often</label>
              </span>
              <button type="submit" class="btn btn-dark " style="margin-top: 2%; float: right;">Submit</button>

            </div>  
          </div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
      </form>
    </div>
    <div class="dot-container">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span> 
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span> 
      <span class="dot" onclick="currentSlide(6)"></span> 
      <span class="dot" onclick="currentSlide(7)"></span> 
      <span class="dot" onclick="currentSlide(8)"></span> 
      <span class="dot" onclick="currentSlide(9)"></span> 
      <span class="dot" onclick="currentSlide(10)"></span> 
      <span class="dot" onclick="currentSlide(11)"></span> 
      <span class="dot" onclick="currentSlide(12)"></span> 
      <span class="dot" onclick="currentSlide(13)"></span> 
      <span class="dot" onclick="currentSlide(14)"></span> 
      <span class="dot" onclick="currentSlide(15)"></span> 
    </div>
    <script>
      var slideIndex = 1;
      showSlides(slideIndex);
      
      function plusSlides(n) {
      showSlides(slideIndex += n);
      }
      
      function currentSlide(n) {
      showSlides(slideIndex = n);
      }
    
      function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
      }
    </script>
    
  </body>
</html> 
